/* ---- GLOBAL RESETS ---- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-body: var(--font-inter);
  --font-heading: var(--font-urbanist);
}

body {
  font-family: var(--font-body);
}
html, body {
  width: 100%;
  height: 100%;
  background: #0e0e0e;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.layout-container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Scrollbar like screenshot */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #2b2b2b;
  border-radius: 20px;
}
